<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>ImageViewer.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>TaskService</servlet-name>
		<servlet-class>com.unilorraine.projetdevie.server.service.TaskServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskService</servlet-name>
		<url-pattern>/com.unilorraine.projetdevie.ImageViewer/TaskService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActivityService</servlet-name>
		<servlet-class>com.unilorraine.projetdevie.server.service.ActivityServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivityService</servlet-name>
		<url-pattern>/com.unilorraine.projetdevie.ImageViewer/ActivityService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectService</servlet-name>
		<servlet-class>com.unilorraine.projetdevie.server.service.ProjectServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectService</servlet-name>
		<url-pattern>/com.unilorraine.projetdevie.ImageViewer/ProjectService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CategoryService</servlet-name>
		<servlet-class>com.unilorraine.projetdevie.server.service.CategoryServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryService</servlet-name>
		<url-pattern>/com.unilorraine.projetdevie.ImageViewer/CategoryService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBTestMaterialService</servlet-name>
		<servlet-class>com.unilorraine.projetdevie.server.service.DBTestMaterialServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBTestMaterialService</servlet-name>
		<url-pattern>/com.unilorraine.projetdevie.ImageViewer/DBTestMaterialService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActivityUnitService</servlet-name>
		<servlet-class>com.unilorraine.projetdevie.server.service.ActivityUnitServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivityUnitService</servlet-name>
		<url-pattern>/com.unilorraine.projetdevie.ImageViewer/ActivityUnitService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PotActivityService</servlet-name>
		<servlet-class>com.unilorraine.projetdevie.server.service.PotActivityServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PotActivityService</servlet-name>
		<url-pattern>/com.unilorraine.projetdevie.ImageViewer/PotActivityService</url-pattern>
	</servlet-mapping>

</web-app>